body
{
 
	background-color: #444444;
  	color: #c48d36;
  
}

.nightbody
{
  
	background-color: #222222;
  	color: #a06d16;
  
}

a
{
  
	color: #a84242;
  
}

.nightlink
{
  
  	color: #982121;
  
}

hr
{

	border-color: #982121;
  
}

#ui-bar
{
  
	background-color: #080808;
  	color: #eeeeee;
	border-color: #eeeeee;
  
}

img
{
  
  display: block;
  margin: auto;
  
  width: 25%;
  
}
